--acronyms ID,URL,UUID
--allman false
--assetliterals visual-width
--beforemarks enum,let,typealias,var
--binarygrouping 4,8
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas inline
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--emptybraces linebreak
--enumnamespaces always
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--generictypes 
--groupedextension "MARK: %c"
--guardelse auto
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping testable-last
--indent 4
--indentcase false
--indentstrings false
--lifecycle viewDidLoad,viewWillAppear
--lineaftermarks true
--linebreaks lf
--markcategories true
--markextensions always
--marktypes always
--maxwidth 110
--modifierorder acl,override,setterACL,dynamic,mutators,lazy,final,required,convenience,typeMethods,owned
--nevertrailing 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--operatorfunc spaced
--organizetypes actor,class,enum,extension,struct
--patternlet hoist
--ranges spaced
--redundanttype inferred
--self init-only
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someAny true
--stripunusedargs closure-only
--structthreshold 0
--tabwidth unspecified
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--typeblanklines remove
--typemark "MARK: - %t"
--varattributes preserve
--voidtype void
--wraparguments after-first
--wrapcollections before-first
--wrapconditions preserve
--wrapparameters after-first
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--xcodeindentation disabled
--yodaswap always
--disable blankLinesAtStartOfScope,strongOutlets,unusedArguments,wrapMultilineStatementBraces
--enable blankLineAfterImports,docComments,isEmpty,markTypes,organizeDeclarations,wrapEnumCases,wrapSwitchCases
