--header "//\n//  {file}\n//\n//  Created by Kevin Morton. on {created}.\n//  Copyright © {year} KJM. All rights reserved.\n//"

--enable blankLinesBetweenScopes
--enable isEmpty
--enable anyObjectProtocol
--enable elseOnSameLine

# file options
--exclude Pods,Carthage

--allman false
--binarygrouping 4,8
--closingparen balanced
--commas inline
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self init-only
--selfrequired
--semicolons inline
--stripunusedargs always
--trailingclosures
--trimwhitespace always
--wraparguments before-first
--wrapcollections before-first
--xcodeindentation disabled

# Disable
--disable blankLinesAtStartOfScope,strongOutlets

--swiftversion 5.1.3
