---
name: Auto approve
on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - uses: hmarr/auto-approve-action@v2.1.0
              if: >
                  github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]'
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
